* {
    font-family: Work Sans;
}

header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    height: 800px;
    width: 1600px;
    display: flex;
    justify-content: flex-end;
}

.header-items {
    width: 525px;
    margin-top: 150px;
    margin-right: 150px;
}

.headline {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 0;
}

.header-paragraph {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 25px;
}

.header-button {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    float: right;
}

.main-top {
    width: 1200px;
    display: inline-flex;
    margin-top: 125px;
    margin-left: 250px;

}

.main-top-picture {
    width: 550px;
}

.pro-pic {
    width: 527.929px;
    height: 527.929px;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
}

.main-top-text {
    width: 550px;
    margin-left: 75px;
}

.main-top-headline {
    width: 288px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.main-top-paragraph {
    width: 416px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.failures-list {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.main-middle {
    width: 1200px;
    margin-top: 150px;
    margin-left: 150px;
}

.main-middle-headline {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.main-middle-boxes {}

.main-middle-box-element {}


.main-middle-box-icon {
    width: 92.958px;
    height: 92.958px;
}

.main-middle-box-headline {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.main-middle-box-paragraph {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}